*{
    box-sizing: border-box;
}
button{
    background-color: red;
    text-align: center;
    margin-top: 10px;
    margin-left: 5%;
    padding: 10px;
}
.span1{
    margin-bottom: 40px;
}
p{
    padding-bottom: 20px;
}
input{
    width: 100%;
}